#logo{
	height:100px;
	width: auto;
}
.show_pass{
  font-size: calc(0.7vw + 0.7vh);

}
.login_username_input {
  position: relative;
  width: 90%;
  min-width: 40vh;
  background-size: 100% 92%; /* To fill the dimensions of container (div) */
  background-repeat:no-repeat;
  background-image: url('../image/login_rect.png'); 
  text-align: center;
}
.login_username_input .label {
  position: absolute;
  top: 20%;
  left: 3%;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.login_username_input .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #f6075a;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.login_username_input input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  margin-left: 3%;
  font-family: inherit;
  padding: 15px 0px;
  height: 7vh;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
  background: none;
  border-radius: 0;
  color: #ffffff;
  transition: all 0.15s ease;
}
.login_username_input input:not(:placeholder-shown) + span {
  color: #ffffff;
  transform: translateY(-25px) scale(0.70);
}
.login_username_input input:focus {
  outline: none;
}
.login_username_input input:focus + span {
  color: #f6075a;
  transform: translateY(-25px) scale(0.70);
}
.login_username_input input:focus + span + .border {
  transform: scaleX(1);
}

.login_password_input {
  position: relative;
  width: 90%;
  min-width: 40vh;
  background-size: 100% 92%; /* To fill the dimensions of container (div) */
  background-repeat:no-repeat;
  background-image: url('../image/login_rect.png'); 
  text-align: center;
}
.login_password_input .label {
  position: absolute;
  top: 20%;
  left: 3%;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.login_password_input .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #f6075a;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.login_password_input input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  margin-left: 3%;
  font-family: inherit;
  padding: 15px 0px;
  height: 7vh;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
  background: none;
  border-radius: 0;
  color: #ffffff;
  transition: all 0.15s ease;
}
.login_password_input input:not(:placeholder-shown) + span {
  color: #ffffff;
  transform: translateY(-25px) scale(0.70);
}
.login_password_input input:focus {
  outline: none;
}
.login_password_input input:focus + span {
  color: #f6075a;
  transform: translateY(-25px) scale(0.70);
}
.login_password_input input:focus + span + .border {
  transform: scaleX(1);
}

.login_lower{
  text-align: center;
}
.login_lower button{
  height: 100%;
  background-color: #f6075a;
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
