#bookings{
	background-color: #bc0144;
}
.main .title{
	font-size: calc(1.75vw + 1.75vh);
	color: #000000;
	font-weight: 500;
	margin-top: 2vh;
}

.main .row .details table tr{
	background-color: #e1e1e1;
	color: #000000;
	font-size: calc(0.5vh + 0.5vw);
	font-weight: 450;
	text-align: left;
}
.main .row .details table tr th{
	padding-top: 0.3vh;
	padding-bottom: 0.3vh;
	padding-left: 0.3vw;
	padding-right: 0.3vw;
	min-width: calc(1vw + 1vh);
	background-color: #f6075a;
	color: #ffffff;
	font-size: calc(0.5vw + 0.5vh);
	font-weight: 500;
	border: calc(0.1vh + 0.1vw) solid #ffffff;
	/*border-right: calc(0.1vh + 0.1vw) solid #ffffff;*/
	text-align: center;
}
.main .row .details table tr th input{
	width: 100%;
	font-size: calc(0.5vw + 0.5vh);
	font-weight: 500;
	color: #F6075A;
	font-family: inherit;
	margin-left: 0.0vw;
	padding-left: 0.0vw;
	margin-top: calc(0.1vw + 0.1vh);
	margin-bottom: calc(0.1vw + 0.1vh);
}
.main .row .details table tr th img{
	width: calc(0.4vw + 0.4vh);
	height: calc(0.3vw + 0.3vh);
}
.main .row .details table tr td{
	text-align: center;
	border-left: calc(0.1vh + 0.1vw) solid #ffffff;
	border-right: calc(0.1vh + 0.1vw) solid #ffffff;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0.2vw;
	padding-right: 0.1vw;
}
.main .details table tr td button{
	color: white;
	background-color: #f6075a;
	padding: 3px;
	border: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: inherit;
	font-weight: 400;
	font-size: calc(0.5vh + 0.5vw);
}	
.main .details table tr td button:hover{
  box-shadow: 1.5px 2.5px 4px 1px #976073;
  border: 0.5px solid #d7d7d7;
}
.main .row .details table tr td select{
	width: calc(3.2vw + 3.2vh);
	height: calc(1vw + 1vh);
	font-size: calc(0.5vw + 0.5vh);
	font-weight: 500;
	border: 1px solid #ffffff;
	font-family: inherit;
	padding-left: 0vw;
	border-radius: 0;  
	margin-left: 0vw;
}

.main .button_box button{
	height: 100%;
  	background-color: #f6075a;
  	border: none;
  	color: white;
  	padding: 1vh 1vw;
  	text-decoration: none;
  	font-size: calc(0.6vw + 0.6vh);
  	margin: 0;
  	text-align: center;
	margin-left:calc(0.5vw + 0.5vh); 
}

.main .button_box button:hover {
	box-shadow:3px 3px 1px 1px #976073;  
}

